* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #333;
  color: hsl(200, 100%, 90%);
  margin: 0 auto;
}

#root {
  display: flex;
  min-height: 100vh;
}

.vertical-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.form-input-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-sep {
  width: 90%;
  height: 1px;
  background-color: #666;
  margin: 0.5em auto;
}

.form-sep-invis {
  width: 90%;
  height: 1px;
  margin: 0 auto;
}

.btn {
  background: hsl(200, 100%, 50%);
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: hsl(190, 100%, 50%);
}

.btn:active {
  background: hsl(190, 100%, 80%);
}

.btn.btn-danger {
  background:hsl(0, 100%, 40%);
  border: none;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: hsl(0, 100%, 40%, 0.5);
}

.content {
  flex: 1;
  margin: 0 5vw 0 5vw;
  max-width: 600px;
}

.sidebar {
  background-color: #444;
  padding: 1em;
  width: 300px;
}

.tabs {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.tab {
  padding: 0.75em;
}

.activeTab {
  font-weight: bold;
  text-decoration: underline;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vertical-form select,
.vertical-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(200, 100%, 90%);
  width: 50%;
  box-sizing:content-box;
}

.vertical-form input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.selected .listItemLabel{
  flex: 0.5;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: hsl(190, 100%, 80%);
}

.listItemLabel {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  /* height: 1.5em; */
  background: hsl(200, 100%, 50%);
  color: hsl(0,0%,0%);
}

.listItemLabel:hover {
  background: hsl(190, 100%, 50%);
}

.listItemLabel:active {
  background: hsl(190, 100%, 80%);
}